<div>
    <h1 class="display-4">Welcome To Articles</h1>
    <p class="mb-4">This is a Sails.js app for managing articles:
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero magnam cum maiores in eligendi, provident molestiae perferendis et consectetur porro. Voluptatibus excepturi assumenda aspernatur numquam reiciendis quisquam, aut eos? Consequatur veniam porro quam libero, quidem molestias hic labore quisquam minima modi eveniet sed animi ipsa quia, tempora fugit error nihil.</p>
    <a href="/articles/list" class="btn btn-info">View Articles List</a>
    <a href="/articles/add" class="btn btn-info">Add Article</a>
    <a href="/user/login" class="btn btn-success">User Login</a>
    <a href="/user/registration" class="btn btn-warning">User Registration</a>
    <a href="/test" class="btn btn-primary">TestPage</a>
</div>
